.sidebar{
    display: flex;
    flex: 0.3;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}

.sidebar__header{
    display: flex;
    align-items: center;
    padding: 15px;
}

.sidebar__header > .MuiAvatar-root{
    width: 30px;
    height: 30px;
}

.sidebar__input{
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    margin-left: 10px;
    padding: 5px;
    border-radius: 33px;
    width: 100%;
}

.sidebar__input > input{
    background-color: transparent;
    outline: none;
    border: none;
}

.sidebar__input > .MuiSvgIcon-root{
    color: white;
    margin-left: 5px;
}

.sidebar__chats{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar__notes{
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
}

.sidebar__notes:hover{
    background-color: rgba(151,151,151,0.6);
    cursor: pointer
}

.sidebar__notesIcon{
    padding: 5px;
    background-color: rgba(95, 33, 33, 0.2);
    border-radius: 50px;
}

.sidebar__notes > p{
    color: white;
    margin-left: 10px;
}

.sidebar__notesIcon > .MuiSvgIcon-root{
color: white
}